.storely-customizer-plugin-notify-actions-count {
	display: inline-block;
	z-index: 26;
	margin: 1px 0 0 2px;
	padding: 0 6px;
	border-radius: 10px;
	color: #fff;
	background-color: #d54e21;
	font-size: 9px;
	font-weight: 600;
	line-height: 17px;
	vertical-align: top;
}

div.storely-theme-recomended-actions_container {
	margin-bottom: 2em;
	padding: 0 10px;
}

.storely-theme-recomended-actions_container p.succes {
	margin: 1em 0;
}

.storely-epsilon-recommeded-actions p.title {
	margin-bottom: 0;
	color: #555d66;
	font-size: 14px;
	font-weight: 600;
}

.storely-epsilon-recommeded-actions div.description {
	font-size: 12px;
}

.storely-epsilon-recommeded-actions .custom-action {
	margin-top: 1em;
	padding-top: 1em;
	border-top: 1px solid #fafafa;
}

.storely-epsilon-recommeded-actions .custom-action p {
	margin-top: 0;
}

.storely-theme-recomended-actions_container .storely-recommeded-actions-container:not(:first-child) {
	overflow: hidden;
	height: 0;
	opacity: 0;
}

.storely-theme-recomended-actions_container .storely-recommeded-actions-container:first-child {
	height: auto;
	opacity: 1;
}

.storely-theme-recomended-actions_container .storely-recommeded-actions-container {
	-webkit-transition: opacity 2s;
	/* Safari */
	transition: opacity 2s;
}

.storely-theme-recomended-actions_container .hide {
	display: none;
}

.storely-customizer-plugin-notify-actions-count.complete {
	background-color: #79ba49;
}

.storely-theme-recomended-actions_container #demo_content .button {
	display: block;
	margin-bottom: 1em;
	text-align: center;
}

.storely-theme-recomended-actions_container .succes a {
	display: inline-block;
	width: 100%;
	text-align: center;
}

.storely-theme-recomended-actions_container .succes a.social {
	width: 49%;
	margin-bottom: 1em;
	padding-top: 4px;
	line-height: 20px;
}

.storely-theme-recomended-actions_container .succes a.social span,
.storely-theme-recomended-actions_container .succes  span {
	margin-right: 5px;
}

.storely-theme-recomended-actions_container .succes {
	padding-top: 4px;
	line-height: 20px;
}

.storely-customizer-notify-dismiss-button-recommended-plugin,
.storely-customizer-notify-dismiss-recommended-action {
	position: absolute;
	top: 10px;
	right: 10px;
	border-radius: 50%;
	color: #d54e21;
	text-decoration: none;
	cursor: pointer;
}

.storely-epsilon-recommeded-actions {
	position: relative;
}

.storely-customizer-notify-dismiss-recommended-action,
.storely-epsilon-recommeded-actions .storely-customizer-notify-dismiss-button-recommended-plugin {
	top: 0;
	right: 0;
}

.storely-epsilon-recommeded-actions #temp_load {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	-webkit-align-items: center;
	align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
}

.storely-epsilon-recommeded-actions #temp_load img {
	margin: 0 auto;
}


.customize-control-hidden {
    margin: 0 -12px;
    margin-bottom: 12px;
    display: block;
    padding: 13px 12px;
    border-width: 1px 0;
    border-style: solid;
    border-color: #dddddd;
    background-color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1;
    text-transform: uppercase;
	color: #3292db;
}

.customize-control-hidden label {
    margin-bottom: 0;
    line-height: 1;
    font-size: 11.5px;
    cursor: default;
}

#accordion-section-header_image {
    margin-top: 12px;
}


li#accordion-section-storely_upsale h3 {
    background: #ff7301 !important;
    color: #fff !important;
    border-left: none !important;
}

li#accordion-section-storely_upsale h3:after {
    content: "\f174" !important;
    color: #fff !important;
}

.upsale_info li a {
    padding: 15px 10px;
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    border-radius: 4px;
    font-size: 14px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    -webkit-box-shadow: 0 -2px rgb(0 0 0 / 10%) inset;
    -moz-box-shadow: 0 -2px rgba(0,0,0,.1) inset;
    -o-box-shadow: 0 -2px rgba(0,0,0,.1) inset;
    box-shadow: 0 -2px rgb(0 0 0 / 10%) inset;
}

.upsale_info li a.btn-secondary {
    background: #303030;
}

.upsale_info li a.btn-primary {
    background: #ff7301;
}

.upsale_info li a.btn-green {
    background: #6caf17;
}

.upsale_info li a i {
    margin-right: 15px;
    font-size: 16px;
    vertical-align: middle;
}

.upsale_info li a:hover {
    opacity: 0.5;
}